.tableTopFive {
  background: white;
  padding: 50px;

  margin-top: 40px;
  border-radius: 6px;
}

.tables {
  display: flex;
  gap: 20px;
}

.headerTopFive {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #e9e3e8;
  margin-bottom: 20px;
  padding-bottom: 10px;

  h2 {
    padding-top: 10px;
    margin-left: 20px;
    color: #46287f;
  }
}
